
/*------------------------------------------ section-main-filter -----------------------------------------------------*/
.section-main-filter{
  background-image: url("/image/pages/index/h1-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 625px;
}


/*------------------------------------------ order-cell --------------------------------------------------------------*/
.order-cell{
  color: $black;
  h2{
    color: $black;
  }
  .bg-order-cell{
    background-image: url("/image/pages/index/Rectangle-31.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
  }
}

/*--------------------------------------------------------------------------------------------------------------------*/
.w-20{
  width: 20%;
}

.bottom-1rem{
  bottom: 1rem;
}

.section{
  padding: 3rem 0;
}


