
/*------------------------------------------ section-main-filter -----------------------------------------------------*/
.section-main-filter{
  background-image: url("/image/pages/index/h1-2.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 625px;
}
